*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #181522;
    --o-mark: #CD0D67;
    --x-mark: #EFB33C;
    --board-color: #b6b6b62b;
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9)
}

body {
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.main {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 50vh;
    width: 100vw;
}

.scoreboard {
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.scoreboard > * {
    margin-right: 40px;
}

.score.x {
    color: var(--x-mark) ;
}

.score.o {
    color: var(--o-mark);
}

.board {
    max-height: 400px;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: center;
    justify-content: center;
    position: relative;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid var(--board-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:nth-child(1n+1) {
    border-top: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:nth-child(1n+7) {
    border-bottom: none;
}

.cell.cell:first-child, .cell:nth-child(1n+2) {
    border-left: none;
}

/* X mark */
.cell.x::before, .cell.x::after, .board.x .cell:not(.x):not(.o):hover::before, .board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    width: calc(var(--mark-size)* .15);
    height: var(--mark-size);
    background-color: var(--x-mark);
    position: absolute;
}

.cell.x::before, .board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after, .board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.board.x .cell:not(.x):not(.o):hover::before, .board.x .cell:not(.x):not(.o):hover::after {
    background-color: rgba(239, 179, 60, .2)
}

/* O mark */
.cell.o::before, .cell.o::after, .board.o .cell:not(.x):not(.o):hover::before, .board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    width: calc(var(--mark-size) * .9);
    height: calc(var(--mark-size) * .9);
    background-color: var(--o-mark);
    position: absolute;
    border-radius: 50%;
}

.cell.o::after, .board.o .cell:not(.x):not(.o):hover::after {
    background-color: var(--bg-color);
    transform: scale(.8);
}

.board.o .cell:not(.x):not(.o):hover::before {
    background-color: rgba(205, 13, 103, .2);
}

.cell.x, .cell.o {
    cursor: not-allowed;
}

.restart-btn {
    font-family: inherit;
    border: none;
    padding: 10px 30px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: #01E0FF;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: var(--o-mark);
    color: white;
}

/* Player display */
h3 {
    color: white;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

span.o_win {
    color: var(--o-mark);
}

span.x_win {
    color: var(--x-mark);
}

.turn-status {
    text-align: center;
    margin-top: 50px;
}

.turn-status.draw {
    color: #01E0FF;
}

